* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.logo a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
}

nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172b;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

/* .product-card {
    padding: 5rem 7rem 0;
} */

.menuProduct {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.image img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.5rem;
}

.category {
    font-size: 1rem;
    background: orange;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
}

.rate {
    color: orange;
}

.addCart {
    font-size: 2rem;
}